@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.notActive {
    cursor: not-allowed;
}

/*Global-style*/
body {
    width: 1525px;
    margin: auto;
    direction: rtl;
    background-color: rgba(32, 31, 31, 0.9);
    overflow-x: hidden;
}


header {
    height: 81px;
    position: fixed;
    z-index: 10;
    top: -2px;
    width: 1440px;
}



#container {
    position: relative;
    z-index: 1;
    width: 960px;
    right: 21%;
    font-family: 'Assistant', sans-serif;
}

.accessibility {
    position: absolute;
    visibility: hidden;
}

#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;
}

    #skip li {
        list-style-type: none
    }

    #skip a {
        position: absolute;
        left: -99999px;
        top: 30px;
    }

        #skip a:focus, #skip a:active {
            position: relative;
            left: 0;
            z-index: 9999;
            width: 75%;
            height: auto;
            margin: 0 auto;
            padding: 30px 45px;
            text-align: center;
            text-decoration: none;
            letter-spacing: -4px !important;
            font: bold 50px "Arial", "Freesans", sans-serif !important;
            color: #AEAEFE;
            background: transparent url(transparent.png) repeat scroll 0 0;
            border: 1px dotted #ffb4db;
        }



#homePage {
    position: relative;
    top: 200px;
    z-index: 2;
}
/* top Navigatin */
#topnav {
    position: absolute;
    width: 100%;
    right: -320px;
}

    #topnav ul {
        width: 1525px;
        background-color: rgba(32, 31, 31, 0.84);
        height: 109px;
    }

        #topnav ul li {
            display: inline-block;
            position: relative;
            height: 10px;
            right: 25px;
            top: -5px;
        }


            #topnav ul li a {
                display: block;
                color: white;
                width: 190px;
                height: 50px;
                margin-right: 50px;
                text-decoration: none;
                text-align: center;
                font-size: 17pt;
                position: relative;
                padding-left: 10px;
                z-index: 1000;
                bottom: 20px;
                padding-bottom: 40px;
            }


                #topnav ul li a:hover {
                    color: rgb(245, 224, 40);
                }


            #topnav ul li ul {
                display: none;
                position: absolute;
                top: 94px;
                left: 115px;
                background-color: rgba(46, 46, 46, 0);
            }

                #topnav ul li ul li {
                    top: -51px;
                    height: 050px;
                    width: 220px;
                    background-color: rgba(46, 46, 46, 0.905);
                }

                    #topnav ul li ul li a {
                        top: 10px;
                        left: 45px;
                        height: 40px;
                        width: 96%;
                    }



            #topnav ul li:hover > ul {
                display: block;
                width: 120px;
            }

.navtitle {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    height: 40px;
}

#navflor {
    background-image: url(../images/mustard.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#navneve {
    background-image: url(../images/pink.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: -100px;
}

#navtikva {
    background-image: url('../images/navy (1).png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* logo */


#logo {
    margin-right: 580px;
    display: inline-block;
    position: relative;
    z-index: 999;
    right: -550px;
    top: -5px;
    background-color: rgba(0, 0, 0, 0);
}


/*  home page-florentin */

#flortxt {
    position: relative;
    top: 102px;
}


#florSection {
    height: 750px;
    width: 160%;
    background-image: url('../images/backgrownd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 100%;
    position: relative;
    z-index: -10;
    margin-right: -33%;
}


#titleH2F {
    font-family: 'Amatic SC', cursive;
    font-size: 35pt;
    background-color: rgb(160, 153, 90);
    color: rgb(255, 242, 231);
    width: 480px;
    height: 60px;
    padding-right: 10px;
    margin-right: 316px;
    margin-top: -195px;
    letter-spacing: 3px;
}

#neighflorP {
    font-family: 'Assistant', sans-serif;
    width: 280px;
    height: 320px;
    font-size: 18pt;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 316px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.3;
}

#linkPassFlorentin {
    width: 280px;
    height: 50px;
    font-size: 18pt;
    background-color: rgba(160, 153, 90, 0.795);
    color: rgb(255, 242, 231);
    padding-top: 20px;
    padding-right: 10px;
    margin-right: 316px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

    #linkPassFlorentin a {
        font-family: 'Assistant', sans-serif;
        text-decoration: none;
        color: rgb(255, 242, 231);
    }

        #linkPassFlorentin a:hover {
            border-bottom: 3px solid rgb(255, 232, 232);
        }



#neighPass {
    background-color: rgb(160, 153, 90);
}


/* home page- neve tzedek  */

#tzedekSection {
    position: relative;
    top: 5px;
    height: 750px;
    width: 160%;
    background-image: url('../images/neve2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -33%;
}


#titleH2N {
    font-family: 'Amatic SC', cursive;
    font-size: 35pt;
    background-color: rgb(236, 173, 187);
    color: rgb(255, 242, 231);
    width: 479px;
    height: 60px;
    padding-top: 5px;
    padding-right: 145px;
    margin-right: 652px;
    letter-spacing: 3px;
}

#neighNeveP {
    width: 280px;
    height: 350px;
    font-size: 18pt;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 985px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.3;
}


#linkPassNeve {
    width: 280px;
    height: 50px;
    font-size: 18pt;
    background-color: rgb(236, 173, 187);
    color: rgb(255, 242, 231);
    padding-top: 20px;
    padding-right: 10px;
    margin-right: 984px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

    #linkPassNeve a {
        font-family: 'Assistant', sans-serif;
        text-decoration: none;
        color: rgb(255, 242, 231);
    }

        #linkPassNeve a:hover {
            border-bottom: 3px solid rgb(255, 232, 232);
        }

/*  home page- hatikva */


#hatikvaSection {
    height: 750px;
    width: 160%;
    background-image: url('../images/hatikva.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5px;
    position: relative;
    top: 12px;
    margin-right: -33%;
}


#titleH2H {
    font-family: 'Amatic SC', cursive;
    font-size: 35pt;
    background-color: rgb(66, 108, 199);
    color: rgb(255, 242, 231);
    width: 480px;
    height: 60px;
    padding-right: 10px;
    margin-right: 316px;
    margin-top: 5px;
    letter-spacing: 3px;
}


#neighHatikvaP {
    font-family: 'Assistant', sans-serif;
    width: 280px;
    height: 355px;
    font-size: 18pt;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 316px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.3;
}

#linkPassHatikva {
    width: 280px;
    height: 50px;
    font-size: 18pt;
    background-color: rgb(66, 108, 199);
    color: rgb(255, 242, 231);
    padding-top: 20px;
    padding-right: 10px;
    margin-right: 316px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

    #linkPassHatikva a {
        font-family: 'Assistant', sans-serif;
        text-decoration: none;
        color: rgb(255, 242, 231);
    }



        #linkPassHatikva a:hover {
            border-bottom: 3px solid rgb(255, 232, 232);
        }






/* about */

#aboutbody {
    background-image: url('../images/art.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutsection {
    position: relative;
    background-color: #00000085;
    width: 159%;
    height: 1405px;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    padding-top: 170px;
    left: 320px;
}

#nivPic {
    position: relative;
    right: 490px;
    top: 70px;
}

#orPic {
    position: relative;
    right: 490px;
    top: 70px;
}

#talPic {
    position: relative;
    right: 490px;
    top: 70px;
}

#aboutTitle1 {
    font-size: 58pt;
    position: relative;
    text-align: center;
}

#aboutp {
    position: relative;
    text-align: center;
}

#aboutp2 {
    position: relative;
    text-align: right;
    padding-top: 50px;
    right: 490px;
}

#coursText {
    position: relative;
    right: 510px;
    padding-top: 100px;
}

#coursList {
    position: relative;
    right: 510px;
    padding-top: 10px
}

#hit {
    position: relative;
    background-color: #ffffff80;
    bottom: 320px;
    right: 315px;
    border-radius: 50%;
    width: 290px;
    height: 290px;
}

    #hit a {
        position: relative;
        right: 95px;
    }

#tlm {
    position: relative;
    margin-right: -247px;
    top: 50px;
    font-size: 18px;
    color: hsl(182, 99%, 27%);
}

#pageListAbout {
    position: relative;
    right: 510px;
    padding-top: 10px
}

#pagesList {
    position: relative;
    right: 510px;
    padding-top: 10px;
}

    #pagesList a {
        color: white;
    }


#orPic {
    background-image: url('../images/or.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
}

#nivPic {
    background-image: url('../images/niv.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 50%;
}

#talPic {
    background-image: url('../images/tal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    display: inline-block;
    border-radius: 50%;
}

#aboutnav {
    position: relative;
    top: 230px;
    background-color: #ffffff80;
    height: 120px;
    width: 100%;
}

    #aboutnav a {
        color: black;
        position: relative;
        left: 20px;
    }

/* map web */

#mapbody {
    background-image: url('../images/briks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #00000085;
    margin-right: 20px;
    margin-left: 20px;
}

#firstTitleMap {
    text-align: center;
    font-size: 25pt;
    position: relative;
    top: 200px;
}

.mapL {
    position: relative;
    display: inline-block;
    color: dimgray;
    top: 300px;
    margin-bottom: 500px;
    text-align: right;
    font-size: 18pt;
    text-decoration: none;
    right: 25%;
}

    .mapL a {
        color: gray;
        text-decoration: none;
    }

        .mapL a:hover {
            color: blue;
        }

.grayL a {
    color: black;
    text-decoration: underline;
}

    .grayL a:hover {
        color: black;
    }



/* contact */

#contacttitle {
    font-size: 30pt;
}

#contact {
    position: relative;
    right: 27.5%;
    background-image: url('../images/doortzedek.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    position: relative;
    top: 105px;
    margin-bottom: 193px;
    background-color: #00000085;
    width: 98.5%;
    height: 665px;
    left: 316px;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    padding-right: 20px;
    font-size: 18pt;
}

label {
    display: block;
    margin-top: 10px;
}

input[type ='text'], input[type ='password'], textarea, select {
    display: block;
    margin-bottom: 15px;
}

input[type ='submit'] {
    margin-top: 10px;
}




/* florentin-page */

#passage1 {
    top: -235px;
    position: absolute;
    height: 500px;
    width: 162%;
    right: -340px;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    background-image: url(../images/catagory.png)
}

    #passage1 h1 {
        position: relative;
        top: 80px;
        font-family: 'Amatic SC', cursive;
        font-size: 100px;
        text-align: center;
        color: rgb(255, 242, 231);
    }

#passage2 {
    position: absolute;
    right: -340px;
    top: -405px;
    height: 500px;
    width: 162%;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    background-image: url(../images/catagory.png);
    
}

    #passage2 h1 {
        position: relative;
        font-family: 'Amatic SC', cursive;
        font-size: 100px;
        top: 80px;
        text-align: center;
        color: rgb(255, 242, 231);
    }

#passage3 {
    position: absolute;
    right: -340px;
    top: -412px;
    height: 500px;
    width: 162%;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    background-image: url(../images/catagory.png)
}

    #passage3 h1 {
        position: relative;
        top: 80px;
        font-family: 'Amatic SC', cursive;
        font-size: 100px;
        text-align: center;
        color: rgb(255, 242, 231);
    }


/* florentin video section */

#florvidtxt {
    position: relative;
    top: 102px;
}


#florvidSection {
    height: 642px;
    width: 100%;
    position: relative;
    z-index: -10;
    top: -90px;
}


#titleH2florvid {
    font-family: 'Amatic SC', cursive;
    font-size: 35pt;
    background-color: rgb(160, 153, 90);
    color: rgb(255, 242, 231);
    width: 480px;
    height: 60px;
    padding-right: 10px;
    margin-right: 15px;
    margin-top: -195px;
    letter-spacing: 3px;
}

#neighflorvidP {
    width: 280px;
    height: 320px;
    font-size: 18pt;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 15px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.3;
}

#linkPassflorvid {
    width: 280px;
    height: 50px;
    font-size: 18pt;
    background-color: rgba(160, 153, 90, 0.795);
    color: rgb(255, 242, 231);
    padding-top: 20px;
    padding-right: 10px;
    margin-right: 15px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

    #linkPassflorvid a {
        text-decoration: none;
        color: rgb(255, 242, 231);
    }

        #linkPassflorvid a:hover {
            border-bottom: 3px solid rgb(255, 232, 232);
        }



#neighPass {
    background-color: rgb(160, 153, 90);
}

videoStyle {
    padding-top: 0px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}


#florvideo {
    position: relative;
    bottom: 95px;
}

.videoTitle {
    height: 30px;
    width: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: rgba(241, 231, 231, 0.85);
    -webkit-text-stroke: 5px black;
}
/* floerntine community section */

#communFlor {
    position: relative;
    top: 5px;
    height: 1250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: -90px;
}

/* floerntine food section */
#foodFlor {
    position: relative;
    top: 5px;
    height: 1170px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: -90px;
}


/*florentine street section*/

#streetFlor {
    position: relative;
    top: 5px;
    height: 1250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: -90px;
}

/*kiosko*/

#kioskoPage {
    position: relative;
    top: 200px;
}

#story1 {
    height: 680px;
    width: 160%;
    background-image: url('../images/yotam.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5px;
    position: relative;
    top: -90px;
    left: 315px
}

#title {
    font-family: 'Amatic SC', cursive;
    font-size: 35pt;
    background-color: rgb(236, 173, 187);
    color: rgb(255, 242, 231);
    width: 479px;
    height: 60px;
    padding-top: 5px;
    padding-right: 145px;
    margin-right: 895px;
    letter-spacing: 3px;
}

#firstPkiosko {
    width: 280px;
    height: 100%;
    font-size: 17pt;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 985px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.4;
}

#story2 {
    height: 680px;
    width: 160%;
    background-image: url('../images/kiosko.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5px;
    position: relative;
    top: -90px;
    left: 315px
}


#secPkiosko {
    font-family: 'Assistant', sans-serif;
    width: 280px;
    height: 100%;
    font-size: 17pt;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    margin-right: 318px;
    padding-right: 10px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.4;
}

#story3 {
    height: 680px;
    width: 160%;
    background-image: url('../images/kiosko.counter.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5px;
    position: relative;
    top: -90px;
    left: 315px
}

#thirdPkiosko {
    width: 280px;
    height: 98%;
    font-size: 17pt;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(68, 66, 66, 0.918);
    color: rgb(255, 242, 231);
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 985px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.4;
}



/* footer */

.footer ul {
    position: relative;
    top: -89px;
    left: 315px;
    height: 120px;
    width: 1535px;
    background-color: #404042e6;
    float: right;
    text-align: center;
}

.footer li {
    display: inline-block;
    font-size: 15pt;
    padding-top: 10px;
}

.footer ul a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 30px;
    text-align: right;
}

    .footer ul a:hover {
        color: rgb(245, 224, 40);
        border-bottom: 1px solid rgb(245, 224, 40);
    }

/* footer-florentine */

#footerNavF ul {
    position: relative;
    top: 30px;
    left: 315px;
    height: 120px;
    width: 1535px;
    background-color: #404042e6;
    float: right;
    text-align: center;
}

#footerNavF li {
    display: inline-block;
    font-size: 15pt;
    padding-top: 10px;
}

#footerNavF ul a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 30px;
    text-align: right;
}

#footer ul a:hover {
    color: rgb(245, 224, 40);
    border-bottom: 1px solid rgb(245, 224, 40);
}
